@page "/"
@using BlazorPdfServicesApp.Pages.Comps
<PageTitle>Home</PageTitle>

<div class="text-center" style="margin-top:40px;margin-bottom:50px">
    <h1 style="font-size:60px; color:blueviolet" >Pdf Services</h1>

    <h4>by bs dotnet</h4>
    <p>note that app run using api (in my github) and send reqoust for localhost:7106 port</p>
</div>


<MargePdfFiles/>

<SplitAll/>

<SplitByRange/>

<div class="text-center" >
    <div class="card col-10 col-md-3 p-3" style="margin:0 auto 30px auto">

        <h3 style="color:blueviolet">develop by bs-dotnet</h3>
        <p>my <a target="_blank" href="https://github.com/BSdeployment">github</a></p>

    </div>
   
</div>