@page "/"
<div style="padding-top:60px">


<h1 style="margin-top:80px" class="text-center mt-3">Welcome!</h1>
<p style="margin-top:80px" class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores consectetur magni vel animi tempore? Expedita culpa quam nemo sapiente!</p>
    <h5 class="text-center">This is Authenticate from Api <b> This Call for 7043 port On localhost </b></h5>
<h2 class="text-center text-primary mt-3">by Bs-DotNet</h2>
</div>
@code {

}
