@page "/secrets"
@inject HttpClient http
@inject IJSRuntime js
<div class="text-center" style="padding-top: 150px;">
    <h2>this is my secters</h2>
    <h2>press here</h2>
    <button @onclick="GetSecret" class="btn btn-danger" style="margin-top: 40px; border-radius: 20px;">Here</button>
    <h2>@secret</h2>
</div>

@code {
    string? secret;

    async Task GetSecret()
    {
        var token = await js.InvokeAsync<string>("localStorageManager.getItem","Token");

        if (string.IsNullOrEmpty(token))
        {
            secret = "token is null. Note!";
            return;
        }

        var request = new HttpRequestMessage(HttpMethod.Get, "https://localhost:7043/auth");

        request.Headers.Add("Authorization", $"Bearer {token}");

        var respone = await http.SendAsync(request);

        if (respone.IsSuccessStatusCode)
        {
            secret =await respone.Content.ReadAsStringAsync();
        }
        else
        {
            secret = respone.StatusCode.ToString();
        }

        // var res = await http.GetAsync("https://localhost:7043/auth");

        // if (res.IsSuccessStatusCode)
        // {
        //     secret = res.Content.ReadAsStringAsync().ToString();
        // }
        // else
        // {
        //     secret = res.StatusCode.ToString();
        // }

        
    }
}
