@inherits LayoutComponentBase

<BlazorAuthUsresBasic.Pages.Navigation/>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider />
<main>
    @Body
</main>
