@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-center" style="margin-top:35px;color:blueviolet;margin-bottom:40px">Convert Video To Mp3</h1>
<p class="lead text-center">Note that listen for localhost:7050 port And Use With Api Source</p>
<h4 class="text-center text-primary" style="margin-bottom:25px;">By Bs DotNet</h4>
 


<ConvertToMp3/>
<div class="text-center" style="margin-top:15px">
    <div class="card col-10 col-md-3 p-3" style="margin:0 auto 30px auto">

        <h3 style="color:blueviolet">develop by bs-dotnet</h3>
        <p>my <a target="_blank" href="https://github.com/BSdeployment">github</a></p>

    </div>

</div>